/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
.idea/
.idea/codeStyles/codeStyleConfig.xml
.idea/commandlinetools/Laravel_11_28_20__9_14_PM.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/dataSources.xml
.idea/laravel-plugin.xml
.idea/modules.xml
.idea/misc.xml
.idea/php.xml
.idea/phpunit.xml
.idea/project-management-joi.iml
.idea/vcs.xml
